#nav_logo{
  margin:0;
  padding:5px;
  max-width: 200px;
}
#nav_logo:hover{
  background-color: white;
}

/* Add a black background color to the top navigation */
.navBar {
  position: fixed;
  top:0px;
  border-bottom: 2px solid #00A1AE;
  height: 60px;
    width:100%;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 1;
}

/* Style the links inside the navigation bar */
.navBar a {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #00A1AE;
  margin-top: 2px;
  border-radius: 5px 5px 0px 0px;
    float: left;
    display: block;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}
.navBar a:hover {
  background-color: #00A1AE;
  color: white;
}

/* Add an active class to highlight the current page */


/* Hide the link that should open and close the topnav on small screens */
.navBar .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdownBox {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdownBox .dropbtnx {
  margin-top: 2px;
  border-radius: 5px 5px 0px 0px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #00A1AE;
    text-align: center;
    border: none;
    outline: none;
    background-color: inherit;
}
.dropdownBox .dropbtnx:hover {

  color: white;

}
.dropdownBox .dropbtnx a {
    font-size: 15px;

    padding: 14px 16px;

}
.dropdownBox .dropbtnx a:hover {
    font-size: 15px;
    color:white;
    padding: 14px 16px;

}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: fixed;
    top:58px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  border-radius: 0px 0px 0px 0px;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnavBar a:hover, .dropdownBox:hover .dropbtnx {
    background-color: #00A1AE;
    color: white;
}
.topnavBar a:hover, .dropdownBox:hover .dropbtnx a {
    background-color: #00A1AE;
    color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdownBox:hover .dropdown-content {
    display: block;
}

#sideNav{
display: none;

}


.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}
